//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}

// 高 行高 (居中)
@mixin line-hei($height, $line-height){
  height: $height;
  line-height: $line-height;
}

// 字体最小化缩放0.5
@mixin font-size-min($fontSize, $width){
  font-size: $fontSize;
  width: $width*2;
  transform: translateX(-25%) scale(.5);
}